<?xml version="1.0"?>
<config>
	<modules>
		<Imedia_Ajaxnewsletter>
			<version>0.1.0</version>
		</Imedia_Ajaxnewsletter>
	</modules>
	<frontend>
		<routers>
			<ajaxnewsletter>
				<use>standard</use>
				<args>
					<module>Imedia_Ajaxnewsletter</module>
					<frontName>ajaxnewsletter</frontName>
				</args>
			</ajaxnewsletter>
		</routers>
		<layout>
		  <updates>
			<ajaxnewsletter>
				<file>imedia/ajaxnewsletter.xml</file>
			</ajaxnewsletter>
		  </updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<imedia_ajaxnewsletter>
				<class>Imedia_Ajaxnewsletter_Helper</class>
			</imedia_ajaxnewsletter>
		</helpers>
		<models>
			<ajaxnewsletter>
				<class>Imedia_Ajaxnewsletter_Model</class>
			</ajaxnewsletter>
		</models>
		<blocks>
			<adminhtml>
				<rewrite>
					<newsletter_subscriber_grid>Imedia_Ajaxnewsletter_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
				</rewrite>
			</adminhtml>
		</blocks>
		<resources>
            <imedia_ajaxnewsletter_setup>
                <setup>
                    <module>Imedia_Ajaxnewsletter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imedia_ajaxnewsletter_setup>
            <imedia_ajaxnewsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imedia_ajaxnewsletter_write>
            <imedia_ajaxnewsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imedia_ajaxnewsletter_read>
        </resources>		
	</global>	
</config> 